@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}



.sidebar{
  border-right: 1px solid black;
  padding: 1rem;
  width: 250px;
  max-height: 650px;
  overflow-x: hidden;
}



.home {
  display: flex;
  height: fit-content;
}

.footer{
  background-color: black;
  height: 90px;
}

@media screen and (max-width: 620px) {
  .sidebar {
    display: none;
  }
}