@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.separator{
  border-top: 25px solid #fcc48f;
	border-right: 20vw solid transparent;
	height: 0;
}

.sidebar{
  border-right: 1px solid black;
  padding: 1rem;
  width: 250px;
  max-height: 650px;
  overflow-x: hidden;
  /* display: none; */
}

.info-section {
  max-height: fit-content;
}

.home {
  display: flex;
  height: fit-content;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.footer{
  background-color: black;
  height: 50px;
}

@media screen and (max-width: 620px) {
  .sidebar {
    display: none;
  }
}